{
  "username": "your_id",
  "password": "your_password",
  "login_url": "http://1.1.1.3/ac_portal/login.php",
  "check_interval": 60,
  "max_retry": 5,
  "retry_base_delay": 5,
  "dns_servers": ["223.5.5.5", "8.8.8.8"],
  "http_check_url": "http://www.baidu.com",
  "dns_timeout": 3,
  "http_timeout": 5,
  "log_level": "INFO"
}